

html {
    font-size: 100%;
  }

*{
    background-color: #FCEFF9;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  Form {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    margin-left: 35%;
    margin-top: 5%;
    justify-content: center;
    
  }
  
  label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    font-size: 2rem;
  }
  
  input,
  select,
  textarea
   {
    width: 100%;
    margin: 5px 0 0;
    display: block;
    
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    transition: all 0.3s;
    font-size: 2rem;
    letter-spacing: 0.5px;
    background-color: white;
  }
  select {
    height: 40px;
    width: 325px;
  }
  
  select:focus {
    outline: none;
    border-color: #1ee7e2;
  }
  
  input:focus {
    outline: none;
    border-color: #1ee7e2;
  }
  
  input:placeholder {
    color: #a8b2b2;
  }
  
  button {
    width: 150px;
    display: inline-block;
    padding: 8px 11px;
    font-size: 4rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 5px;
    letter-spacing: 2px;
    outline: none;
    background-color: #7E4E60;
    background-image: linear-gradient(to right, #7E4E60, #7E4E60);
    color:white;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  button:hover {
    background-image: none;
    background-color: #D0B3BE;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  }
  
  button:disabled {
    background-image: none;
    background-color: grey;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
  }
  
  .error {
    font-size: 1.2rem;
    color: red;
  }
  
  Button{
    background-color: #7E4E60;
    background-image: linear-gradient(to right, #7E4E60, #7E4E60);
    color:white;
      }

  .nav{
    background-color: #7E4E60;
    display: flex;
    justify-content: space-evenly;
  }
  
 
  